attrs==21.2.0
cached-property==1.5.2
certifi==2021.10.8
charset-normalizer==2.0.9
idna==3.3
isodate==0.6.1
lxml==4.7.1
platformdirs==2.4.0
python-dotenv==0.19.2
pytz==2021.3
requests==2.26.0
requests-file==1.5.1
requests-toolbelt==0.9.1
six==1.16.0
urllib3==1.26.7
zeep==4.1.0
