attrs==22.1.0
cached-property==1.5.2
certifi==2022.6.15
charset-normalizer==2.1.0
idna==3.3
isodate==0.6.1
lxml==4.9.1
platformdirs==2.5.2
python-dotenv==0.20.0
pytz==2022.1
requests==2.28.1
requests-file==1.5.1
requests-toolbelt==0.9.1
six==1.16.0
urllib3==1.26.11
zeep==4.1.0
